@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fg: #000;
  --bg: #fff;
  color-scheme: dark;
  background-color: darkgray;
}


.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  color-scheme: dark;
  --fg: #fff;
  --bg: #000;
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Lobster';
}
.toggle-button {
  background-color: white;
  color: black;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.toggle-button:hover {
  background-color: lightgray;
}

.dark .toggle-button {
  background-color: black;
  color: white;
}

.dark .toggle-button:hover {
  background-color: darkgray;
}

.dark {
  background-color: black;
}

.navbar-scroll {
  transition: background-color 0.2s ease-in-out;
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: --dark;
  }
}

.text-enters {
  animation: slide-in-from-right 1s ease-in-out;
}

@keyframes slide-in-from-right {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}


.menu-button {
  transition: transform 0.2s ease-in-out;
}

.menu-button[aria-expanded=true] {
	-webkit-animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.menu-button[aria-expanded=false] {
	-webkit-animation: flip-in-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* ----------------------------------------------
 * Generated by Animista on 2023-10-20 13:10:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-10-20 13:11:29
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-in-hor-top
 * ----------------------------------------
 */
 @-webkit-keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
            transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-top {
  0% {
    -webkit-transform: rotateX(-80deg);
            transform: rotateX(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
